
@import './main.styl'

#app
  width 100%
  height 100%
  font-size 16px
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background rgba(34, 34, 34, 0.8)
  transition background .5s

#app:hover
  background-image linear-gradient(box-border, transparent 0), linear-gradient(90deg, box-border, transparent 0)
  background-size box-size box-size
  transition background .5s

a
  text-decoration none

// iconfont svg
.icon
  width 1em
  height 1em
  vertical-align -0.15em
  fill currentColor
  overflow hidden