html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(34, 34, 34, 0.8);
}
.loaders {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 40px;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  height: 300px;
  line-height: 300px;
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
}

.loader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.loader-double {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
.loader-double:before, .loader-double:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-animation: spinreverse 2s linear infinite;
  animation: spinreverse 2s linear infinite;
}
.loader-double:before {
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  -webkit-animation: spinreverse 3s linear infinite;
  animation: spinreverse 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    tranform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    tranform: rotate(-360deg);
  }
}
